.carousel{
    height: 200px;
}

.carousel-caption{
    z-index: 10;
}

.carousel .item{
    height: 200px;
    background-color: transparent;
    background-size: cover;
}

.carousel-inner > .item > a > img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.carousel-caption h4{
    font-size:300%;
}

.carousel-caption h1{
    color:#fff;
    font-size:6rem;
    font-family:Georgia;
}

.carousel-caption h1 span{
    color:#fff;
    font-size:4rem;
    text-shadow:none;
}

.carousel-caption h1{
    display: inline-block;
}

@media (min-width: 768px){
    .carousel{
        height: 500px;
    }

    .carousel-caption{
        z-index: 10;
    }

    .carousel-caption p{
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .carousel .item{
        background-size: contain;
        height: 500px;
        background-color: transparent;
    }
    
    .carousel-inner > .item > a > img{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
    }

    .carousel-caption h4{
        font-size:300%;
    }

    .carousel-caption h1{
        color:#fff;
        font-size:6rem;
        font-family:Georgia;
    }

    .carousel-caption h1 span{
        color:#fff;
        font-size:4rem;
        text-shadow:none;
    }

    .carousel-caption h1{
        display: inline-block;
    }
}