html, body { background-color: #e3e3e3; }

.nullify{
    margin: 0;
    padding: 0;
}

.null-padding{ padding: 0; }
.null-margin{ margin: 0; }

.block{
    padding: 15px;
    margin: 15px;
}

.block-padding{ padding: 15px; }
.block-margin{ margin: 15px; }


.color-white{ background-color: white; }
.color-gray{ background-color: lightgray; }

.header-info{
    color: #fafafa;
    background-color: #424242;
}

.header-info > .info-list{
    display: table;
    width: 100%;
    padding: 10px 0 10px 10px;
}

.navbar-collapse > .hidden-xs{
    display: table;
    width: 100%;
}

header > .brand{
    display: table;
}

header > .brand > div.brand-text{
    float: none!important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-info > .info-list > li,
.navbar-collapse > .hidden-xs > li{
    float: none!important;
    display: table-cell;
}

.header-info > .info-list > li > a,
.navbar-collapse > .hidden-xs > li > a,
.navbar-collapse > .visible-xs > li > a{
    text-align:center;
}

.navbar-custom{
    background-color: #212121;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a{
    color: #F5F5F5;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus{
    color: #E0E0E0;
    background-color: #333333;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus{
    color: #E0E0E0;
    background-color: #333333;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus{
    color: #cecece;
    background-color: #424242;
}

.navbar-custom .navbar-toggle{
    border-color: #F5F5F5; 
}

.navbar-custom .navbar-toggle:hover{
    background-color: #9E9E9E;
}

.navbar-custom .navbar-toggle:focus{
    background-color: rgba(0, 0, 0, 0);
}

.navbar-custom .navbar-toggle .icon-bar{
    background-color: #F5F5F5;
}